/* General Styles */
html{
  background:url(https://media-exp1.licdn.com/dms/image/C4D03AQFn1u-TvgWLLg/profile-displayphoto-shrink_800_800/0/1626393594364?e=1640217600&v=beta&t=Gz7SC3tY8H7G0Y5AXisvLrcV6hnWbcpYEW9JP0eActM) no-repeat;
  background-size: cover;
  height:100%;
  background-color: #000;
}
* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
body {
  color: #C0C0C0;
  font-family: Arial, san-serif;
}


/* Contact Form Styles */
h1 {
  margin: 10px 0 0 0;
}
h4{
  margin: 0 0 20px 0;
}
#contact-form {
  background-color:rgba(72,72,72,0.9);
  padding: 10px 20px 30px 20px;
  max-width:100%;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
  font-size: 15px;  
  margin-bottom: 2px;
  font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
  width:100%;
  background: #fff;
  border: 0; 
  -moz-border-radius: 4px;  
  -webkit-border-radius: 4px;  
  border-radius: 4px;
  margin-bottom: 25px;  
  padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
  background-color: #E5E6E7; 
}  
#contact-form textarea {
  width:100%;
  height: 150px;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#991D57;
  background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#contact-form button[type="submit"]:hover {
  background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
  box-shadow: none;
  -moz-box-shadow: none;  
  -webkit-box-shadow: none;  
  -o-box-shadow: none;  
} 
#contact-form .required {  
  font-weight:bold;  
  color: #E5E6E7;      
}

/* Hide success/failure message
  (especially since the php is missing) */
#failure, #success {
  color: #6EA070; 
  display:none;  
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
  #contact-form{
     left: 3%;
     margin-right: 3%;
     width: 88%;
     margin-left: 0;
     padding-left: 3%;
     padding-right: 3%;
  }


#button{
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  font-family: arial;
  background: linear-gradient(to bottom, #FF3D96, #D02558);
  border: solid #7CAFFF 1px;
  border-radius: 5px;
  padding:15px;
  text-shadow: 0px 1px 2px #000000;
  box-shadow: 0px 1px 5px #0D2444;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#button:hover{
  opacity: 0.9;
  background: linear-gradient(to bottom, #5A86FF, #335AD0);
  box-shadow: 0px 1px 2px #000000;
}

* {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
header {
	position:fixed;
	width: 100%;
	height: 100%;
	background-color:#16a085;
	top:0;
	left: 0;
	text-align: center;
}
header a {
	text-decoration: none;
	color:#fff;
	display: inline-block;
	padding:15px 20px;
	margin:150px 30px;
	border:1px solid #fff;
	border-radius:5px;



}
header a:hover {
	background-color: #fff;
	color:#777;
	box-shadow: 0 2px 3px #777
}

.btn-1 {
	transition: .5s;

}
@keyframes btn2 {
	0% {
		transform:rotate(0);
	}
	25% {
		transform:rotate(10deg);
	}
	50% {
		transform:rotate(0);
	}
	75% {
		transform:rotate(-10deg);
	}
	100% {
		transform:rotate(0);
	}
}
.btn-2 {
	transition: .5s;
}
.btn-2:hover {
	animation-name: btn2;
	animation-delay: .5s;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: 1
}
@keyframes btn3 {
	0% {
		transform:rotateX(0);
	}
	50% {
		transform:rotateX(180deg);
	}
	100% {
		transform:rotateX(0);
	}
}
.btn-3 {
	transition: .5s;
}
.btn-3:hover {
	animation-name: btn3;
	animation-delay: .5s;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: 1
}


}

